{% extends 'base.html.twig' %}

{% form_theme formPresta 'bootstrap_4_layout.html.twig' %}

{% block body %}

    <h1>Création d'une prestation !</h1>

    {{ form_start(formPresta) }}
    
    {{ form_row(formPresta.titre, {'attr': {'placeholder': "Titre de la prestation" }}) }}

    {{ form_row(formPresta.image, {'attr': {'placeholder': "URL de l'image" }}) }}

    {{ form_row(formPresta.description, {'attr': {'placeholder': "Description de la prestation" }}) }}

    <br>
    <button type="submit" class="btn btn-success">
        {% if editMode %}
            Enregistrer les modifications
        {% else %}
            Ajouter l'article
        {% endif %}
    </button>

    {{ form_end(formPresta) }}

{% endblock %}
