{% extends 'base.html.twig' %}

{% block title %}Toutes les prestations{% endblock %}


{% block body %}
<<<<<<< HEAD
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                
                <li class="nav-item">
                <a class="nav-link" href="/prestation/new">Ajouter une prestation</a>
                </li>

                <li class="nav-item">
                <a class="nav-link" href="/prestation/supp">Supprimer une prestation</a>
                </li>
               
            </ul>
            </div>
        </div>
        </nav>
       
    </body>
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<br><br>
<div class="container">
    
       {% for presta in prestas %}
            <section class="Presta">
                <h2>{{ presta.titre }}</h2>
                <div class="metadata">Ecrit le {{ presta.createdAt | date('d/m/Y') }} à {{ presta.createdAt | date('H:i') }}</div>
                <div class="content">
                    <img src="{{ presta.image }}">
                    <br><br>
                    {{ presta.description }}
                    <br><br>
                    <a href="{{ path('prestation_show', {id: presta.id} ) }}" class="btn btn-primary">Lire la suite</a>
                </div>
            </section>
            <br><br><br><br>
           {% endfor %}
=======

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarColor02">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="/prestation/new">Ajouter une prestation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-right" href="/panier">Voir le panier</a>
                    </li>
                </ul>
            </div>
        </div>
  </nav>
</body>

<div class="container">
    <div class="grid">
        {% for prestation in prestations %}
            {% include 'prestation/_card.html.twig' with {prestation: prestation} only %}
        {% endfor %}
    </div>
>>>>>>> origin/feature-PagePrestation
</div>

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<br><br>

{% endblock %}
