{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

        
            <section class="Presta">
                <h2> {{ presta.titre }} </h2>
            <br>
    
                <div class="metadata">Ecrit le {{ presta.createdAt | date('d/m/Y') }} à {{ presta.createdAt | date('H:i') }}</div>
                    <div class="content">
                        <img src="{{ presta.image }}">
                        <br><br>
                        {{ presta.description }}
                    </div>
                    <br><br>
                    <form method="post" action="/prestation">
                        <button type="submit" class="btn btn-secondary">Retour</button>
                    </form>
                </div>
                
            </section>
            
      

<br><br>

</div>

{% endblock %}